<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config />
    <context:component-scan base-package="com.linbox.im" />

    <bean id="propertyConfiger" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath*:im.properties</value>
            </list>
        </property>
    </bean>

    <!--Kafka Configs-->
    <bean id="kafkaProducer" class="org.apache.kafka.clients.producer.KafkaProducer">
        <constructor-arg name="configs">
            <map>
                <entry key="bootstrap.servers" value="${bootstrap.servers}" />
                <entry key="acks" value="${acks}" />
                <entry key="retries" value="${retries}" />
                <entry key="batch.size" value="${batch.size}" />
                <entry key="linger.ms" value="${linger.ms}" />
                <entry key="buffer.memory" value="${buffer.memory}" />
                <entry key="key.serializer" value="${key.serializer}" />
                <entry key="value.serializer" value="${value.serializer}" />
            </map>
        </constructor-arg>
    </bean>
    <!--Kafka Configs-->

</beans>